    .galeria {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    body {
        background-color: #000000;
        font-family: Arial, sans-serif;
        text-align: center;
    }   

body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #fcfcfc;
}